{% extends 'main.html' %}
{% load staticfiles %}
{% block article %}
<div class="large-8" >
    {% for article in articles %}
    <h6>дата публикации статьи: {{ article.Article_date }}</h6>
    <h4><a href="/articles/{{article.id}}/" >{{ article.Article_title }}</a></h4>
    <p>{{ article.Article_text }}</p>
    <p><a href="/articles/addlike/{{article.id}}/"><img src='{% static "like.png"%}' width="25px" height="25px"></a> понравилось {{ article.Article_like }}</p>

    <hr>
    {% endfor %}
</div>
{% endblock %}